header {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Ensure the body and root take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Root container, ensuring full height and column layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content should expand to take up available space */
main {
  flex: 1; /* This allows the main content to grow and take remaining height */
  padding: 0; /* Optional: Add padding around the main content */
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto; /* Ensures the footer is pushed to the bottom */
  width: 100%;      /* Makes sure the footer spans the full width of the page */
}

.logo {
	margin: 0 2rem 0 0;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.search-box {
	width: 30%;
	height: 50px;
	font-size: 1.5em;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 40px 0;
	text-align: center;
}

.pokemon-item {
	float: left;
	margin: 10px;
}

.pokemon-item a {
	color: #000;
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s ease;
	text-transform: capitalize;
}

.pokemon-item a:hover {
	color: #3B4CCA;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 5px;
	list-style: none;
}

.pokemon-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	max-width: 450px;
	margin: 20px auto;
	padding: 20px;
	color: #000;
	text-transform: capitalize;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pokemon-details img {
	width: 100px;
	height: 100px;
}

.pokemon-details p {
	margin: 5px;
  }

	.info-section {
	background-color: #f2f9bc;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	margin: 10px 0;
	width: 100%;
	text-transform: capitalize;
	}

	.info-section h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	}

	.stats-section {
		background-color: #a6b1db;
		padding: 15px;
		border-radius: 8px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
		margin: 10px 0;
		width: 100%;
		text-transform: capitalize;
	}
