header {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Ensure the body and root take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Root container, ensuring full height and column layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content should expand to take up available space */
main {
  flex: 1; /* This allows the main content to grow and take remaining height */
  padding: 0; /* Optional: Add padding around the main content */
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto; /* Ensures the footer is pushed to the bottom */
  width: 100%;      /* Makes sure the footer spans the full width of the page */
}

.logo {
	margin: 15px 2rem 0 0;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.search-box {
	width: 30%;
	height: 50px;
	font-size: 1.5em;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 40px 0;
	text-align: center;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 5px;
	list-style: none;
}



